<div class="my-header"></div>
<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <p-card header="Cadastro" [style]="{width:'360px'}">
        <div class="field">
            <label for="fullName">Nome</label>
            <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName" placeholder="Digite seu Nome completo">
        <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error">
            <div *ngIf="fullName.errors?.['required']">Digite seu Nome completo!</div>
            <div *ngIf="fullName.errors?.['pattern']">Digite novamente, algo não deu certo!</div>
        </small>
        </div>
        <div class="field">
            <label for="comercio">Nome Fantasia do Comércio</label>
            <input type="text" pInputText formControlName="comercio" class="w-full" name="comercio" placeholder="Digite o Nome Fantasia">
        <small *ngIf="comercio.invalid && (comercio.dirty || comercio.touched)" class="block p-error">
            <div *ngIf="comercio.errors?.['required']">Digite o Nome Fantasia!</div>
            <div *ngIf="comercio.errors?.['pattern']">Digite novamente, algo não deu certo!</div>
        </small>
        </div>
        <div class="field">
            <label for="email">E-mail</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Digite seu E-mail">
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">Digite um E-mail válido!</div>
        </small>
        </div>
        <div class="field">
            <label for="password">Senha</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password" placeholder="Digite a senha">
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">Digite a Senha!</div>
        </small>
        </div>
        <div class="field">
            <label for="confirmPassword">Confirme a Senha</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword" placeholder="Confirme a senha">
        <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
            <div *ngIf="confirmPassword.errors?.['required']">A Senha não confere!</div>
        </small>
        <small *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid" class="block p-error">
            As Senhas devem ser iguais!
        </small>
        </div>
        <p-button label="Registrar" severity="warning" styleClass="w-full" [disabled]="registerForm.invalid" type="submit"></p-button>
        <div class="mt-2"><a routerLink="/login">Já tenho Cadastro!</a></div>
    </p-card>
</form>

